@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600&display=swap');

body {
  font-family: 'Lora', serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  text-align: center;
}

a {
  text-decoration: none;
  color: white;
}

.App-header {
  background-color: #282c34;
  min-height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  border-bottom: 1px solid white;
}

.App-link {
  color: #61dafb;
}

.navbar {
  background-color: #282c34d9;
  color: black;
  padding: 20px;
  border-bottom: 1px solid white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blog-list {
  color: white;
  background-color: #282c34;
  padding: 20px;
}

.blog-preview {
  text-align: left;
  background-color: #282c34d9;
  color: white;
  width: 50vh;
  margin: 24px auto;
  padding: 16px;
  box-shadow: 0 0 6px rgba(255, 255, 255, 0.3);
  transition: 0.2s;
}

.blog-preview:hover {
  background-color: rgba(255, 255, 255, 0.05);
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.3);
}
